<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">

<title>SkyCity Digital Twin</title>

<link rel="stylesheet"
href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>


<div id="panel">

<h3>SkyCity Digital Twin</h3>

Latitude:
<span id="lat">--</span><br>

Longitude:
<span id="lon">--</span><br><br>

Temperature:
<span id="temp">--</span> °C<br>

Flood Risk:
<span id="flood">--</span> %<br>

Vegetation:
<span id="vegetation">--</span> %<br>

Water Stress:
<span id="water">--</span> %<br>

Air Quality:
<span id="air">--</span>

</div>


<div id="map"></div>


<script src="/static/script.js"></script>


</body>
</html>